<!-- Layout.njk -->
<!DOCTYPE html>
<html lang="en">
<!-- the path for the css to be inserted in -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1>My about me site</h1>

    {% if title == "Home" %}
      <!-- This navigation only appears on the home page -->
      <header>
      <nav>
      <a href="/">Home page</a>
      </nav>
      </header>

      <!-- The links to the MD pages -->

      <header>
      <nav>
      <a href="/questions/Course/">What course have I been taking in Durham college?</a>
      </nav>
      </header>

      <header>
      <nav>
      <a href="/questions/Hobbies/">What are some of my favorite things to do?</a>
      </nav>
      </header>

      <header>
      <nav>
      <a href="/questions/Future/">What is my plans for my future life coming someday?</a>
      </nav>
      </header>

      <p> =================================================================== </p>
      <p> =================================================================== </p>

      <header>
        <nav>
          <a href="/assignment2page/">Assignment 2</a>
        </nav>
      </header>

      <p> =================================================================== </p>
      <p> =================================================================== </p>

      <p> ========= npx eleventy --serve --port=9000 ========= <p>

    {% endif %}

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <p>Durham college</p>
    </footer>
  </body>
</html>
